@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @media (max-width: 575.98px) {
    margin: 0 auto;
    width: 100%;
  }
  @media (min-width: 575.98px) {
    margin: 0 auto;
    width: 540px;
  }

  @media (min-width: 767.98px) {
    margin: 0 auto;
    width: 720px;
  }

  @media (min-width: 991.98px) {
    margin: 0 auto;
    width: 960px;
  }

  @media (min-width: 1199.98px) {
    margin: 0 auto;
    width: 1140px;
  }

  @media (min-width: 1399.98px) {
    width: 1320px;
  }

  .btn {
    @apply py-1 px-4 rounded-sm border-0;
  }
  .btn-orange {
    @apply text-white bg-orange-500;
  }
}
